In [3]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

from numpy.random import randn

In [2]:
#its like having an index of an index

In [5]:
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

#the first 3 of the first index get assigned to the first 3 of the second index

1  a   -1.271704
   b    0.911387
   c    0.323762
2  a    1.344829
   b    0.739157
   c   -0.783168
dtype: float64

In [6]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [7]:
ser[1]

a   -1.271704
b    0.911387
c    0.323762
dtype: float64

In [8]:
ser[2]

a    1.344829
b    0.739157
c   -0.783168
dtype: float64

In [11]:
#give me the rows from all indexes that the match the index val 'a'
ser[:,'a']

1   -1.271704
2    1.344829
dtype: float64

In [12]:
#create a data frame out of a multi index series 
dframe = ser.unstack()
dframe

          a         b         c
1 -1.271704  0.911387  0.323762
2  1.344829  0.739157 -0.783168

In [13]:
#create a dframe wiht multiple index levels
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],
                    columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])

dframe2

# so we get a data frame that has 2 levels of row indexes and 
# 2 rows of columns indexes with a 4x4 matrix of numbers.

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [14]:
#index levels can be named. [First index][Second Index]
dframe2.index.names = ['INDEX_1','INDEX_2']

#and name the columns
dframe2.columns.names= ['CITIES','TEMP']

dframe2

CITIES            NY      LA   SF
TEMP            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [16]:
#interchange the index order
dframe2.swaplevel('CITIES','TEMP', axis=1)

TEMP            cold hot     cold
CITIES            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [19]:
#sort levels
dframe2.sortlevel(1)
#sorts by sub level n

CITIES            NY      LA   SF
TEMP            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [20]:
#perform an operation on a level
dframe2.sum(level='TEMP',axis=1)

TEMP             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27