In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
#create some data

import webbrowser
websites = 'https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records'
webbrowser.open(websites)

True

In [40]:
#create a data fram with data from clipboard
#copy some structured data onto the clipboard and then read it into a frame
nfl_frame = pd.read_clipboard()

In [41]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North

In [42]:
#Check the column names and also watch for empty spaces. 
nfl_frame.columns

Index([u'Rank ', u'Team ', u'Won ', u'Lost ', u'Tied* ', u'Pct. ',
       u'First Season ', u'Total Games ', u'Conference'],
      dtype='object')

In [46]:
nfl_frame['Team ']

0       Dallas Cowboys
1        Chicago Bears
2    Green Bay Packers
3       Miami Dolphins
4     Baltimore Ravens
Name: Team , dtype: object

In [48]:
nfl_frame['First Season ']

0    1960
1    1920
2    1921
3    1966
4    1996
Name: First Season , dtype: int64

In [49]:
DataFrame(nfl_frame,columns=['Team ', 'First Season ','Total Games '])

                Team   First Season   Total Games
0     Dallas Cowboys            1960           894
1      Chicago Bears            1920          1357
2  Green Bay Packers            1921          1339
3     Miami Dolphins            1966           792
4   Baltimore Ravens            1996           326

In [50]:
DataFrame(nfl_frame,columns=['Team ', 'First Season ','Total Games ','Stadium'])

                Team   First Season   Total Games   Stadium
0     Dallas Cowboys            1960           894      NaN
1      Chicago Bears            1920          1357      NaN
2  Green Bay Packers            1921          1339      NaN
3     Miami Dolphins            1966           792      NaN
4   Baltimore Ravens            1996           326      NaN

In [51]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North

In [54]:
nfl_frame.head(2)

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North

In [55]:
nfl_frame.tail(2)

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North

In [56]:
nfl_frame.ix[3]

Rank                           4
Team             Miami Dolphins
Won                          443
Lost                         345
Tied*                          4
Pct.                       0.562
First Season                1966
Total Games                  792
Conference              AFC East
Name: 3, dtype: object

In [57]:
nfl_frame['Stadium'] = 'Levis Stadium'

In [58]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,Levis Stadium
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,Levis Stadium
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,Levis Stadium
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,Levis Stadium
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,Levis Stadium

In [59]:
nfl_frame.ix[3]

Rank                           4
Team             Miami Dolphins
Won                          443
Lost                         345
Tied*                          4
Pct.                       0.562
First Season                1966
Total Games                  792
Conference              AFC East
Stadium            Levis Stadium
Name: 3, dtype: object

In [60]:
nfl_frame['Stadium'] = np.arange(5)

In [61]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,0
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,1
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,2
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,3
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,4

In [63]:
#add a series to a data frame
stadiums = Series(['Levis Stadium','AT&T Stadium'], index=[4,0])

stadiums

4    Levis Stadium
0     AT&T Stadium
dtype: object

In [71]:
nfl_frame['Stadium'] = stadiums

In [72]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,AT&T Stadium
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,NaN
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,NaN
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,NaN
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,Levis Stadium

In [73]:
del nfl_frame['Stadium']

In [74]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North

In [75]:
#construct a data frame by passing in a dictionary
data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,84000000]}

In [76]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 84000000]}

In [78]:
city_frame = DataFrame(data)

city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC    84000000