In [25]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

In [9]:
dfLeft = DataFrame({'key':['X','Y','Z','X','Y'], 
                    'data':range(5)})
dfLeft

   data key
0     0   X
1     1   Y
2     2   Z
3     3   X
4     4   Y

In [10]:
dfRight = DataFrame({'groupData':[10,20]},
         index =['X','Y'])
         
dfRight

   groupData
X         10
Y         20

In [18]:
#merge with the key from left and index for right
#pd.merge(dfLeft,dfRight,left_on='key',right_index=True)
pd.merge(dfLeft,dfRight,left_on='key',right_index=True)

   data key  groupData
0     0   X         10
3     3   X         10
1     1   Y         20
4     4   Y         20

In [12]:
#we used the index for tehe right and the key for the left data frame.

In [27]:
dfLeftHr = DataFrame({'key1':['SF','SF','SF','LA','LA'],
                      'key2':[10,20,20,20,30],
                     'dataSet':np.arange(5.)})
dfLeftHr

   dataSet key1  key2
0        0   SF    10
1        1   SF    20
2        2   SF    20
3        3   LA    20
4        4   LA    30

In [30]:
dfRightHr = DataFrame(np.arange(10).reshape(5,2), 
                     index=[['LA','LA','SF','SF','SF'],
                            [20,10,10,10,20]],
                     columns=['col1','col2'])
dfRightHr

       col1  col2
LA 20     0     1
   10     2     3
SF 10     4     5
   10     6     7
   20     8     9

In [32]:
#merge the frames together
pd.merge(dfLeftHr,dfRightHr,left_on=['key1','key2'], right_index=True)

   dataSet key1  key2  col1  col2
0        0   SF    10     4     5
0        0   SF    10     6     7
1        1   SF    20     8     9
2        2   SF    20     8     9
3        3   LA    20     0     1

In [34]:
#join instead of merge
dfLeft.join(dfRight)

   data key  groupData
0     0   X        NaN
1     1   Y        NaN
2     2   Z        NaN
3     3   X        NaN
4     4   Y        NaN

In [37]:
dfLeft

   data key
0     0   X
1     1   Y
2     2   Z
3     3   X
4     4   Y

In [38]:
dfRight

   groupData
X         10
Y         20