In [1]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

In [2]:
# install xlrd and openpyxL

In [8]:
xlsFile = pd.ExcelFile('lecture28.xlsx')

In [9]:
dframe = xlsFile.parse('Sheet1')
dframe

  This is a test  Unnamed: 1  Unnamed: 2
0             23       45687          15
1            210         211          15
2             50           5      321654
3            123          23          14
4                        NaN         NaN