In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [4]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [16]:
ser2.reindex(['A','B','C','D','E','F','G','H'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
H     0
dtype: float64

In [13]:
ser4 = Series(['USA','Mexico','Canada'],index=[0,5,10])

ser4

0        USA
5     Mexico
10    Canada
dtype: object

In [14]:
ranger = range(15)

ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [17]:
#add indexes and forward fill them
ser4.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [19]:
#reindex rows and columns
#create a data frame, 25 random number reshaped into a 5x5 array, set the index
#and column names. 
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A  0.256740  0.579655  0.480504  0.541105  2.378537
B  1.931108 -0.159406 -0.381850 -1.186075 -0.132842
D -0.913114 -0.351394  1.472809  0.196057  0.520421
E  0.781207  1.260597  0.817766 -0.230986  0.753187
F  0.839282 -0.622273  1.396085 -0.373354 -0.915688

In [21]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

dframe2

       col1      col2      col3      col4      col5
A  0.256740  0.579655  0.480504  0.541105  2.378537
B  1.931108 -0.159406 -0.381850 -1.186075 -0.132842
C       NaN       NaN       NaN       NaN       NaN
D -0.913114 -0.351394  1.472809  0.196057  0.520421
E  0.781207  1.260597  0.817766 -0.230986  0.753187
F  0.839282 -0.622273  1.396085 -0.373354 -0.915688

In [22]:
#reindex columns
newColumns=['col1','col2','col3','col4','col5','col6']

In [23]:
dframe2.reindex(columns=newColumns)

       col1      col2      col3      col4      col5  col6
A  0.256740  0.579655  0.480504  0.541105  2.378537   NaN
B  1.931108 -0.159406 -0.381850 -1.186075 -0.132842   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.913114 -0.351394  1.472809  0.196057  0.520421   NaN
E  0.781207  1.260597  0.817766 -0.230986  0.753187   NaN
F  0.839282 -0.622273  1.396085 -0.373354 -0.915688   NaN

In [24]:
dframe

       col1      col2      col3      col4      col5
A  0.256740  0.579655  0.480504  0.541105  2.378537
B  1.931108 -0.159406 -0.381850 -1.186075 -0.132842
D -0.913114 -0.351394  1.472809  0.196057  0.520421
E  0.781207  1.260597  0.817766 -0.230986  0.753187
F  0.839282 -0.622273  1.396085 -0.373354 -0.915688

In [25]:
dframe.ix[['A','B','C','D','E','F',],newColumns]

       col1      col2      col3      col4      col5  col6
A  0.256740  0.579655  0.480504  0.541105  2.378537   NaN
B  1.931108 -0.159406 -0.381850 -1.186075 -0.132842   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.913114 -0.351394  1.472809  0.196057  0.520421   NaN
E  0.781207  1.260597  0.817766 -0.230986  0.753187   NaN
F  0.839282 -0.622273  1.396085 -0.373354 -0.915688   NaN