In [1]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

In [3]:
dframe1 = DataFrame({'key':['x','z','y','x','x','y'],'dataset_1':np.arange(6)})
dframe1

   dataset_1 key
0          0   x
1          1   z
2          2   y
3          3   x
4          4   x
5          5   y

In [4]:
dframe2 = DataFrame({'key':['q','y','z'],'dataset_2':[1,2,3]})
dframe2

   dataset_2 key
0          1   q
1          2   y
2          3   z

In [5]:
#use the merge method (many to one) auto choose overlapping columns
pd.merge(dframe1,dframe2)

   dataset_1 key  dataset_2
0          1   z          3
1          2   y          2
2          5   y          2

In [6]:
#match on a specific column
pd.merge(dframe1,dframe2,on='key')

   dataset_1 key  dataset_2
0          1   z          3
1          2   y          2
2          5   y          2

In [7]:
#merge to a spefici column
pd.merge(dframe1,dframe2,on='key',how='left')

   dataset_1 key  dataset_2
0          0   x        NaN
1          1   z          3
2          2   y          2
3          3   x        NaN
4          4   x        NaN
5          5   y          2

In [8]:
dframe2

   dataset_2 key
0          1   q
1          2   y
2          3   z

In [9]:
dframe1

   dataset_1 key
0          0   x
1          1   z
2          2   y
3          3   x
4          4   x
5          5   y

In [10]:
pd.merge(dframe1,dframe2,on='key',how='right')

   dataset_1 key  dataset_2
0          1   z          3
1          2   y          2
2          5   y          2
3        NaN   q          1

In [11]:
dframe2

   dataset_2 key
0          1   q
1          2   y
2          3   z

In [12]:
#merge based on both keys
pd.merge(dframe1,dframe2,on='key',how='outer')

   dataset_1 key  dataset_2
0          0   x        NaN
1          3   x        NaN
2          4   x        NaN
3          1   z          3
4          2   y          2
5          5   y          2
6        NaN   q          1

In [14]:
dframe3 = DataFrame({'key':['X','X','X','Y','Z','Z'],'dataSet3':range(6)})

In [15]:
dframe4 = DataFrame({'key':['Y','Y','X','X','Z'], 'dataSet4':range(5)})

In [16]:
dframe3

   dataSet3 key
0         0   X
1         1   X
2         2   X
3         3   Y
4         4   Z
5         5   Z

In [17]:
dframe4

   dataSet4 key
0         0   Y
1         1   Y
2         2   X
3         3   X
4         4   Z

In [18]:
pd.merge(dframe3,dframe4)

   dataSet3 key  dataSet4
0         0   X         2
1         0   X         3
2         1   X         2
3         1   X         3
4         2   X         2
5         2   X         3
6         3   Y         0
7         3   Y         1
8         4   Z         4
9         5   Z         4

In [20]:
#merge with multiple keys
dfLeft = DataFrame({'key1':['SF','SF','LA'],
                    'key2':['one','two','one'],
                    'leftData':[10,20,30]})

In [23]:
dfRight = DataFrame({'key1':['SF','SF','LA','LA'],
                     'key2':['one','one','one','two'],
                             'rightData':[40,50,60,70]})

In [25]:
dfLeft

  key1 key2  leftData
0   SF  one        10
1   SF  two        20
2   LA  one        30

In [26]:
dfRight

  key1 key2  rightData
0   SF  one         40
1   SF  one         50
2   LA  one         60
3   LA  two         70

In [28]:
pd.merge(dfLeft,dfRight,on=['key1','key2'],how='outer')

  key1 key2  leftData  rightData
0   SF  one        10         40
1   SF  one        10         50
2   SF  two        20        NaN
3   LA  one        30         60
4   LA  two       NaN         70

In [29]:
pd.merge(dfLeft,dfRight,on='key1')

  key1 key2_x  leftData key2_y  rightData
0   SF    one        10    one         40
1   SF    one        10    one         50
2   SF    two        20    one         40
3   SF    two        20    one         50
4   LA    one        30    one         60
5   LA    one        30    two         70

In [30]:
#specify the suffix
pd.merge(dfLeft,dfRight,on='key1',suffixes=('_lefty','_righty'))

  key1 key2_lefty  leftData key2_righty  rightData
0   SF        one        10         one         40
1   SF        one        10         one         50
2   SF        two        20         one         40
3   SF        two        20         one         50
4   LA        one        30         one         60
5   LA        one        30         two         70