In [1]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

In [2]:
dframe = DataFrame({'k1':['x','x','y','y','z'],
                   'k2':['alpha','beta','alpha','beta','alpha'],
                   'dataset1': np.random.randn(5),
                   'dataset2': np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0 -1.331113 -1.052224  x  alpha
1  1.528196 -0.884528  x   beta
2  1.094176 -0.024249  y  alpha
3 -1.478302  1.187398  y   beta
4  1.524791  0.762276  z  alpha

In [3]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

group1

In [4]:
group1.mean()

k1
x    0.098541
y   -0.192063
z    1.524791
Name: dataset1, dtype: float64

In [5]:
cities = np.array(['NY','LA','LA','NY','NY'])

month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [6]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB    1.528196
    JAN    1.094176
NY  FEB   -1.478302
    JAN    0.096839
Name: dataset1, dtype: float64

In [7]:
dframe

   dataset1  dataset2 k1     k2
0 -1.331113 -1.052224  x  alpha
1  1.528196 -0.884528  x   beta
2  1.094176 -0.024249  y  alpha
3 -1.478302  1.187398  y   beta
4  1.524791  0.762276  z  alpha

In [8]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
x   0.098541 -0.968376
y  -0.192063  0.581574
z   1.524791  0.762276

In [9]:
#get the mean on multiple cplumns
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
x  alpha -1.331113 -1.052224
   beta   1.528196 -0.884528
y  alpha  1.094176 -0.024249
   beta  -1.478302  1.187398
z  alpha  1.524791  0.762276

In [11]:
#get the size
dframe.groupby('k1').size()

k1
x    2
y    2
z    1
dtype: int64

In [12]:
dframe

   dataset1  dataset2 k1     k2
0 -1.331113 -1.052224  x  alpha
1  1.528196 -0.884528  x   beta
2  1.094176 -0.024249  y  alpha
3 -1.478302  1.187398  y   beta
4  1.524791  0.762276  z  alpha

In [15]:
#iterate over groups
for name,group in dframe.groupby('k1'):
    print('This is the {} group name'.format(name))
    print(group)
    print('\n')

This is the x group name
   dataset1  dataset2 k1     k2
0 -1.331113 -1.052224  x  alpha
1  1.528196 -0.884528  x   beta


This is the y group name
   dataset1  dataset2 k1     k2
2  1.094176 -0.024249  y  alpha
3 -1.478302  1.187398  y   beta


This is the z group name
   dataset1  dataset2 k1     k2
4  1.524791  0.762276  z  alpha

In [17]:
for (k1,k2),group in dframe.groupby(['k1','k2']):
    print('Key 1 = {} Key 2 = {}'.format(k1,k2))
    print(group)
    print('\n')

Key 1 = x Key 2 = alpha
   dataset1  dataset2 k1     k2
0 -1.331113 -1.052224  x  alpha


Key 1 = x Key 2 = beta
   dataset1  dataset2 k1    k2
1  1.528196 -0.884528  x  beta


Key 1 = y Key 2 = alpha
   dataset1  dataset2 k1     k2
2  1.094176 -0.024249  y  alpha


Key 1 = y Key 2 = beta
   dataset1  dataset2 k1    k2
3 -1.478302  1.187398  y  beta


Key 1 = z Key 2 = alpha
   dataset1  dataset2 k1     k2
4  1.524791  0.762276  z  alpha

In [18]:
groupDict = dict(list(dframe.groupby('k1')))

In [20]:
groupDict['x']

   dataset1  dataset2 k1     k2
0 -1.331113 -1.052224  x  alpha
1  1.528196 -0.884528  x   beta

In [21]:
groupDictAxis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))

In [22]:
groupDictAxis1

{dtype('float64'):    dataset1  dataset2
 0 -1.331113 -1.052224
 1  1.528196 -0.884528
 2  1.094176 -0.024249
 3 -1.478302  1.187398
 4  1.524791  0.762276, dtype('O'):   k1     k2
 0  x  alpha
 1  x   beta
 2  y  alpha
 3  y   beta
 4  z  alpha}

In [23]:
#use group by with columns
dataSet2Group = dframe.groupby(['k1','k2'])[['dataset2']]

#average the values
dataSet2Group.mean()

          dataset2
k1 k2
x  alpha -1.052224
   beta  -0.884528
y  alpha -0.024249
   beta   1.187398
z  alpha  0.762276

In [24]:
dframe

   dataset1  dataset2 k1     k2
0 -1.331113 -1.052224  x  alpha
1  1.528196 -0.884528  x   beta
2  1.094176 -0.024249  y  alpha
3 -1.478302  1.187398  y   beta
4  1.524791  0.762276  z  alpha